body {
  font-family: 'Open Sans', sans-serif;
}

p {
  z-index: 99;
  position: relative;
}

a {color: #1F1F1F;}

/* Color */
.clr-mangrove {color: #005E4E;}
.clr-snowdrop {color: white;}
.clr-lotus {color: #ec3855;}
.clr-zulumat {color: #1F1F1F;}

.bg-mangrove {background-color: #005E4E;}
.bg-snowdrop {background-color: white;}
.bg-aglonema {background-color: #f5f5f5;}

/* Typography */
.big-title {
  color: #1F1F1F;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 3.7em;
}
.title {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 3em;
  z-index: 99;
  position: relative;
}

/* Layout */
.separator-lg {
  display: block;
  height: 100px;
  clear: both;
}
.separator {
  display: block;
  height: 40px;
  clear: both;
}
.separator-md {
  display: block;
  height: 20px;
  clear: both;
}
.separator-sm {
  display: block;
  height: 20px;
  clear: both;
}
.mv-large {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mb-0 {margin-bottom: 0;}
.pad-lg {
  padding: 40px;
}
.pad-h-lg {
  padding-left: 40px;
  padding-right: 40px;
}
.pad-v-lg {
  padding-top: 40px;
  padding-bottom: 40px;
}
.center {
  display: block;
  margin: 0 auto;
}

.flex {display: flex;}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}

/* Button */
@media (min-width: 768px) {
  .btn-lh {
    padding: 10px 40px;
    margin-bottom: 10px;
  }

  p, ul {font-size: 1.2em;}
}

@media (max-width: 768px) {
  .btn-lh {
    padding: 10px;
  }
  #socmed img {
    width: 20px;
  }
  #socmed a {
    font-size: .9em;
    margin-bottom: 5px;
  }
}

.btn-lh {
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  font-size: 1.5rem;
  letter-spacing: .5px;
}
.btn-lh-lg {
  font-size: 2rem;
}
.btn-mangrove {
  background-color: #005E4E;
  color: white;
}
.btn-mangrove-outline {
  background-color: white;
  border: #005E4E solid 1px;
  color: #005E4E;
}
.btn-snowdrop {
  background-color: white;
  color: #005E4E;
}
.btn-teratai {
  background-color: #EC3855;
  color: white;
}

/* Card */
.card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 20px 0;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}
.card-title {
  font-weight: 600;
  color: grey;
  margin-left: 10px;
}

#quotes-bg {
  height: 350px;
  object-fit: cover;
}
#quotes-container {
  position: absolute;
  padding: 0 40px;
}
.quotes {
  position: relative;
  margin-top: 80px;
  line-height: 1.3em;
}

#innovation-bg {
  position: absolute;
  width: 100%;
  height: 700px;
}

#support-bg {
  position: absolute;
  width: 100%;
  height: 450px;
}

.slick-arrow > i.fa {
  margin-top: 8px !important;
  cursor: pointer;
}
